* {
    box-sizing: border-box;
}

html, body {
    font-family: $m-font;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $m-font;
    font-size: 14px;
    height: 100%;
    text-rendering: optimizeLegibility;
    color: $m-color;


    @media screen and (max-width: 800px) {
        font-size: 10px;
    }

    @media screen and (min-width: 801px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 13px;
    }

    @media screen and (min-width: 1400px) {
        font-size: 14px;
    }
}

html, body {
    height: 100%;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

.main-content {
    font-size: 1rem;
}

p {
    font-size: 1.3rem;
    margin: .8rem 0;
    hyphens: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.link {
    color: #1565C0;
    text-decoration: underline;
    word-break: break-all;

    &:hover {
        text-decoration: none;
    }
}

.hidden {
    display: none;
}

strong {
    font-weight: 700;
}

.popup {
    cursor: pointer;
}

// lists

ul {
    &.list {
        li {
            position: relative;
            padding-left: 1.5rem;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: .4em;
                left: 0;
                width: 3px;
                height: 3px;
                background-color: $white;
                border: 2px solid $m-color;
                border-radius: 100%;
            }
        }
    }
}
