$s-black: #222222;
$black: #000000;
$white: #ffffff;
$l-gray: #777777;
$lighter-gray: #D3D3D3;


$green: #43A047;
$l-green: #4CAF50;
$d-green: #1B5E20;
$fb-blue: #4267b2;

$m-font: 'Istok Web', 'Arial', sans-serif;
$m-color: $s-black;
$s-color: $green;

// layout vars
$n-padding: 1rem;

//standard layout width
$l-width: 1170px;
$header-height: 5rem;
