<pr-image-header
    small="true"
    title="Документы"
    image="/assets/images/docs.jpg">
</pr-image-header>
<div class="documents-info container">
    <h3 class="text-center">Идея создания организации</h3>

    <p>В статье 46 Конституции Украины закреплено право граждан на социальную защиту. Оно обеспечивается общеобязательным государственным социальным страхованием за счет страховых взносов граждан, предприятий, учреждений и организаций, а также бюджетных и других источников финансирования. Закрепление в Конституции гарантий социальной защиты соответствует положениям международно-правовых актов: Всеобщей декларации прав человека; Международного пакта об экономических, социальных и культурных правах; Конвенции о правах ребенка.</p>

    <p>Законом Украины «Об основах социальной защищенности инвалидов в Украине», инвалидам гарантированы равные со всеми другими гражданами возможности для участия в экономической, политической и социальной сферах жизни общества, создание необходимых условий, позволяющих инвалидам эффективно реализовать права и свободы человека и гражданина и вести полноценный образ жизни согласно индивидуальным возможностями, способностями и интересами, в частности, путем создания и участия в общественных организациях инвалидов и их союзах.</p>

    <p>По имеющимся в открытом доступе данным Государственной службы статистики Украины в течение 2011 года и 2014 годов отмечался устойчивый рост количества инвалидов в Украине (с 2710 тыс. человек в 2011 до 2831,7 тыс. человек в 2014 году), в 2015 году количество лиц указанной категории уменьшился до 2568,5 тыс. человек. Одесская область по количеству инвалидов по регионам занимает 6 место, а по количеству детей инвалидов - 5 место.</p>

    <p>Вместе с тем, несмотря на общее уменьшение числа лиц с ограниченными физическими возможностями в Украине, количество инвалидов в Одесской области начиная с 2001 года постоянно растет. В частности, в 2001 году количество инвалидов в Одесской области составляло 127 739 человек, а в 2015 году этот показатель увеличился до 131 279. Только с 2014 по 2015 год количество инвалидов на территории области увеличилось на 1 049 человек.</p>

    <p>Однако, центрами социального обслуживания в течение 2014 года обслужено в области только 48 452 человек, то есть 36, 9% от общего количества. Количество трудоустроенных лиц в 2013 году составляет 485 в 2014 году - 464 человека. В течение 2015 целевую денежную помощь получили только 29 303 инвалидов, что составляет 22,3% от их общего количества.</p>

    <p>В соответствии со ст. 12 Закона Украины «Об основах социальной защищенности инвалидов в Украине», общественные организации инвалидов, их союзы создаются с целью обеспечения равных прав и возможностей инвалидов и их социальной защиты, выявление, устранение препятствий и барьеров, препятствующих обеспечению прав и удовлетворению потребностей таких человек, в том числе в отношении доступа их наравне с другими гражданами к объектам физического окружения, транспорта, информации и связи, а также с учетом индивидуальных возможностей, способностей и интересов - к образованию, труду, культуры, физической культуры и спорта, предоставления социальных услуг, привлечение инвалидов к общественной деятельности, осуществление общественного контроля за соблюдением прав инвалидов, представительства их интересов и устранения любых проявлений дискриминации в отношении инвалидов и имеют право пользоваться льготами и преференциями, предусмотренными законодательством.</p>

    <p>Следует отметить, что центральные и местные органы исполнительной власти и органы местного самоуправления, согласно ст. 13 этого Закона, должны оказывать помощь и содействие общественным организациям инвалидов в их деятельности.</p>

    <p>Следовательно, деятельность общественных организаций инвалидов имеет важное значение в практическом решены повседневных проблем и вопросов реабилитации, защиты прав инвалидов. Как правило, общественные организации инвалидов имеют статус неприбыльных организаций. В то же время действующее законодательство не запрещает таким организациям (их предприятием) осуществлять хозяйственную деятельность с целью получения прибыли, подлежащей налогообложению.</p>

    <p>Из вышеуказанных статистических данных следует, что количество инвалидов в Одесской области постоянно растет, а денежную государственную помощь и обслуживание в центрах социальной помощи получили только треть граждан указанной категории, что свидетельствует о необходимости принятия дополнительных мер по социальной защите и трудоустройстве инвалидов, реабилитации инвалидов, привлечения их к общественно полезной деятельности, занятий физической культурой и спортом, как со стороны государства, так и со стороны негосударственных общественных объединений.</p>

    <p>Принимая во внимание вышеуказанные обстоятельства и законодательные нормы, в конце 2015 года нами было принято решение о создании общественной организации «Ассоциация инициативных инвалидов».</p>

</div>

<div class="documents-info">
    <h3 class="text-center">Уставные документы</h3>
    <div class="image-holder">
        <img src="/assets/images/svidoctvo.jpg" alt="Свидетельство о регистрации Общественной организации 'Ассоциация инициативных инвалидов'" (click)="openModal($event)" class="popup">
    </div>
    <h3 class="text-center polozhenie">Положение о членстве</h3>
    <div class="image-holder">
        <img src="/assets/images/polozh/1.jpg" alt="Положение о членстве 'Ассоциация инициативных инвалидов'" (click)="openModal($event)" class="popup">
    </div>
    <div class="image-holder">
        <img src="/assets/images/polozh/2.jpg" alt="Положение о членстве 'Ассоциация инициативных инвалидов'" (click)="openModal($event)" class="popup">
    </div>
    <div class="image-holder">
        <img src="/assets/images/polozh/3.jpg" alt="Положение о членстве 'Ассоциация инициативных инвалидов'" (click)="openModal($event)" class="popup">
    </div>
    <div class="image-holder">
        <img src="/assets/images/polozh/4.jpg" alt="Положение о членстве 'Ассоциация инициативных инвалидов'" (click)="openModal($event)" class="popup">
    </div>
    <h3 class="text-center polozhenie">Заявление на вступление в членство</h3>
    <div class="image-holder">
        <img src="/assets/images/zayava-vstup.jpg" alt="Заявление на вступление в членство" (click)="openModal($event)" class="popup">
    </div>
    <h3 class="text-center polozhenie">Заявление на получение материальной помощи</h3>
    <div class="image-holder">
        <img src="/assets/images/zrazok_new.jpg" alt="Заявление на получение материальной помощи" (click)="openModal($event)"
    class="popup">
    </div>
</div>

