@import '../../styles/app';

.main-nav {
    ul {
        display: flex;

        li {
            display: flex;
            justify-content: flex-end;

            a {
                color: $m-color;
                display: block;
                font-size: .9rem;
                font-weight: 700;
                padding: 2rem 1.5rem;
                text-decoration: none;
                text-transform: uppercase;
                transition: background .3s linear;

                &:hover {
                    background-color: rgba(#ccc, .4);
                }

                &.active {
                    background-color: rgba($green, 0.2);
                }
            }

            .fb-link-desktop {
                font-size: 1.2rem;
                padding-bottom: 1.2rem;
                padding-top: 1.8rem;
                margin-right: 2rem;
            }

        }
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

:host {
    #{'/deep/'} {
        .nav-toggle {
            z-index: 4;
            position: relative;

            svg {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                margin: auto;
                z-index: -1;
                position: relative;
            }
        }
    }
}

.nav-toggle {
    display: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 1024px) {
        align-items: center;
        display: flex;
        height: 100%;
        padding-right: 2rem;
    }
}

.mobile-nav {
    display: block;
    background: $white;
    bottom: 0;
    position: fixed;
    right: 0;
    top: $header-height;
    box-shadow: -1px 2px 2px 0px rgba($black, .3);
    border-top: 1px solid rgba($black, .3);
    transform: translateX(100%);
    transition: transform .2s ease-in-out, opacity .2s;
    z-index: 10;
    opacity: 0;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    ul {
        li {
            a {
                border-bottom: 1px solid $black;
                color: $m-color;
                display: block;
                font-size: 1.6rem;
                padding: 1rem 1.5rem;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background: $lighter-gray;
                }

                &.active {
                    background-color: rgba($green, 0.2);
                }
            }
        }
    }
}

.nav-cover {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: rgba(0,0,0,0.4);
}


.fb-link-item {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .fb-link {
        font-size: 1.6rem;
        color: $fb-blue;
    }
}
