<nav class="main-nav">
    <ul>
        <li *ngFor="let item of items">
            <a [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
        </li>
    </ul>
</nav>
<button class="nav-toggle" (click)="isOpenNav = !isOpenNav" id="nav-toggle" #navbutton>
    <pr-icon class="cross" [class.hidden]="!isOpenNav"></pr-icon>
    <pr-icon [class.hidden]="isOpenNav" class="sandwich"></pr-icon>
</button>

<nav class="mobile-nav" [class.active]="isOpenNav">
    <ul>
        <li *ngFor="let item of items">
            <a [routerLink]="item.link" routerLinkActive="active">{{ item.title }}</a>
        </li>
    </ul>
</nav>
