@import '../../styles/app';

.accent-block {
    background: $lighter-gray;
    padding: 2rem 1rem;

    .accent-block__content {
        max-width: $l-width;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

h1 {
    font-size: 2rem;
}
