<pr-image-header
    small="true"
    title="Противодейтсвие чиновников"
    image="/assets/images/chinovniki.jpg">
</pr-image-header>

<div class="resistance container">
  <h3 class="text-center">Информация о противодействии чиновникам</h3>

  <div class="resistance__item">
    <h4 class="resistance__title">Глава Лиманской районной районного государственной администрации - <b>Приймак Василий Михайлович</b></h4>

    <ul class="list">
      <li>
        <p>административное давление на должностных лиц Лиманского района и глав сельских/поселковых советов района з целью противодействия
        деятельности общественной организации</p>
        </li>
      <li>
        <p><a class="link" href="http://lymansk-rda.odessa.gov.ua/komintern-novini/sesya-v-shompolah/" rel="nofollow" target="_blank">размещение на официальном сайте Лиманской районной государственной администрации информации дискредитирующей общественную
          организации информации</a></p>

      </li>
      <li>
        <p><a class="link" href="http://dumskaya.net/news/v-odesskoy-oblasti-kompanii-invalidov-zahvatyvay-077918/" rel="nofollow" target="_blank">инициирование написания журналистами Думская.нет статьи о якобы сомнительной деятельности общественной организации</a></p>
      </li>
    </ul>
  </div>


  <div class="resistance__item">
    <h4 class="resistance__title">Председатель Шомполовского сельского совета Лиманского района <b>Стружак Александр Андреевич</b></h4>
      <p>      - направления обращения о проведении проверок общественной организации – Президенту Украины, Примьер-Министру Украины, Генеральному прокурору Украины, НАБУ и двум народным депутатам</p>

  </div>

  <div class="resistance__item">
    <h4 class="resistance__title">
      Председатель Новониколаевского сельского совета Лиманского района Мороз Виталий Викторович</h4>
      <p> - направления обращения о проведении проверок общественной организации - Президенту Украины, Премьер Министру Украины, Генеральному
      прокурору Украины, НАБУ и двум народным депутатам.</p>
  </div>

  <div class="resistance_item">
    <h4 class="resistance__title">
    Депутат Лиманского районного совета Смирнов В.В.</h4>
    <p> - направление запроса, о законности выделения земельного участка площадью 71, 96 га на территории Новониколаевского сельского
    совета, в Верховный Совет Украины, Национальное антикоррупционное бюро Украины, Генеральную прокуратуру Украины, Главное
    управления Госгеокадастра в Одесской области, Коминтерновскую местную прокуратуру.</p>
  </div>

  <div class="resistance__item">
    <div class="resistance__title">
      Депутат Лиманского районного совета Задорожная Ольга Константиновна
    </div>
    <p> - направление запроса, о законности выделения земельного участка площадью 147, 69 га на территории Сербского сельского совета,
    в Верховный Совет Украины, Национальное антикоррупционное бюро Украины, Генеральную прокуратуру Украины, Главное управления
    Госгеокадастра в Одесской области, Коминтерновскую местную прокуратуру.</p>
  </div>



</div>

