<pr-image-header
    small="true"
    title="Противодейтсвие чиновников"
    image="/assets/images/chinovniki.jpg">
</pr-image-header>

<div class="resistance container">
  <h3 class="text-center">Информация о противодействии чиновников</h3>

  <div class="resistance__item">
    <h4 class="resistance__title">Глава Лиманской районной районного государственной администрации - <b>Приймак Василий Михайлович</b></h4>

    <ul class="list">
      <li>
        <p>административное давление на должностных лиц Лиманского района и глав сельских/поселковых советов района c целью противодействия деятельности общественной организации</p>
        </li>
      <li>
        <p>
            <a class="link" href="http://lymansk-rda.odessa.gov.ua/komintern-novini/sesya-v-shompolah/" rel="nofollow" target="_blank">размещение на официальном сайте Лиманской районной государственной администрации информации дискредитирующей общественную организацию</a>
        </p>
      </li>
      <li>
        <p>
          <a class="link" href="http://dumskaya.net/news/v-odesskoy-oblasti-kompanii-invalidov-zahvatyvay-077918/" rel="nofollow" target="_blank">инициирование написания журналистами Думская.нет статьи о якобы сомнительной деятельности общественной организации</a>
        </p>
      </li>
    </ul>

    <p>
      <a href="http://dumskaya.net/news/assotciatciya-initciativnyh-invalidov-o-svoih-ze-077992/" class="link" target="_blank" rel="nofollow">Наше официальное опровержение</a>
    </p>

    <p>
      <a class="link" [routerLink]="['/articles', 'zvernennja-do-pravoohoronnih-organiv']">Обращение к правоохранительным органам.</a>
    </p>
    <p>
        <a class="link" data-src="/assets/images/otvet.jpg" class="popup">Ответ на обращение к правоохранительным органам</a>
    <p>
        <a class="link" [routerLink]="['/articles', 'obrashenie-o-sotrudnichestve']">Официальное обращение о  сотрудничестве</a>
    </p>
    <p>
        <a class="link" data-src="/assets/images/resistance/otvet-obrashenie.png" class="popup">Ответ на  обращение о  сотрудничестве</a>
    </p>
  </div>


  <div class="resistance__item">
    <h4 class="resistance__title">Председатель Шомполовского сельского совета Лиманского района <b>Стружак Александр Андреевич</b></h4>
      <ul class="list">
        <li>
          <p>направление обращения о проведении проверок общественной организации – Президенту Украины, Примьер-Министру Украины, Генеральному прокурору Украины, НАБУ и двум народным депутатам</p>
        </li>
      </ul>


  </div>

  <div class="resistance__item">
    <h4 class="resistance__title">Председатель Новониколаевского сельского совета Лиманского района Мороз Виталий Викторович</h4>
      <ul class="list">
        <li>
          <p>направления обращения о проведении проверок общественной организации - Президенту Украины, Премьер Министру Украины, Генеральному прокурору Украины, НАБУ и двум народным депутатам.</p>
        </li>
      </ul>
  </div>

  <div class="resistance_item">
    <h4 class="resistance__title">
    Депутат Лиманского районного совета Смирнов Владимир Викторович</h4>
    <ul class="list">
      <li>
        <p>направление запроса, о законности выделения земельного участка площадью 71, 96 га на территории Новониколаевского сельского совета, в Верховный Совет Украины, Национальное антикоррупционное бюро Украины, Генеральную прокуратуру Украины, Главное управления Госгеокадастра в Одесской области, Коминтерновскую местную прокуратуру.</p>
      </li>
    </ul>

  </div>

  <div class="resistance__item">
    <h4 class="resistance__title">
      Депутат Лиманского районного совета Задорожная Ольга Константиновна
    </h4>
    <ul class="list">
      <li>
        <p>направление запроса, о законности выделения земельного участка площадью 147, 69 га на территории Сербского сельского совета,
        в Верховный Совет Украины, Национальное антикоррупционное бюро Украины, Генеральную прокуратуру Украины, Главное управления
        Госгеокадастра в Одесской области, Коминтерновскую местную прокуратуру.</p>
      </li>
    </ul>
  </div>

  <h3 class="text-center">Освещение в СМИ</h3>

  <ul class="list">
    <li>
        <p>
            <a class="link" href="http://timer-odessa.net/news/invalidi_latifundisti_obschestvennaya_organizatsiya_poluchila_svishe_tisyachi_gektar_zemli_pod_odessoy_210.html">Информационный сайт Таймер о деятельности Ассоциации инициативных инвалидов</a>
        </p>
    </li>
    <li>
        <p>
            <a class="link" [routerLink]="['/articles/824']">
                «Официальное обращение по событиям от 01.02.2018»
            </a>
        </p>
    </li>
    <li>
        <p>
            <a class="link" href="https://www.youtube.com/watch?v=Gb9-kY6K87M" target="_blank" rel="nofollow">
                Гектары для инвалидов-невидимок. «НОРМАЛЬНО». Отдел расследований на Седьмом
            </a>
        </p>
    </li>
    <li>
        <p>
                <a class="link" [routerLink]="['/articles/1326']">
                    Требование об опровержении недостоверной информации
                </a>
            </p>
    </li>
  </ul>
</div>

