@import '../../styles/app';

:host {
    ::ng-deep {
        .list {
            margin-top: 2rem;

            li {
                margin: 1.5rem 0;
            }
        }
    }
}


.partners-info {
    padding: 2rem 0;
}

.partners-item {
    margin: 3rem 0 0;

    h4 {
        margin-bottom: 1.5rem;
    }
}

.thanks {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
