<pr-image-header
    small="true"
    title="Партнеры"
    image="/assets/images/partners.jpg">
</pr-image-header>
<div class="partners-info container">
    <h3 class="text-center">Информация о Партнерах ОО "Ассоциации инициативных инвалидов" </h3>
    <div class="container">
        <article class="partners-item">
            <h4 class="text-center">Благодарность от школы-интернат №97</h4>
            <img src="/assets/images/podjaka.jpg" alt="купленная шведская стенка Персей" class="responsive-image popup thanks"/>
        </article>
        <article class="partners-item">
            <h4 class="text-center">Подпиши - Меморандум с Одесским подразделение Общественной организацией "Всеукраинский центр помощи участникам АТО"</h4>
            <img src="/assets/images/ato/ato-1.jpg" alt="Меморандум с Всеукраинский центр помощи участникам АТО" class="responsive-image popup thanks"/>
            <img src="/assets/images/ato/ato-2.jpg" alt="Меморандум с Всеукраинский центр помощи участникам АТО" class="responsive-image popup thanks"/>
            <img src="/assets/images/ato/ato-3.jpg" alt="Меморандум с Всеукраинский центр помощи участникам АТО" class="responsive-image popup thanks"/>
        </article>
    </div>
</div>

