@import '../../styles/app';

.partners-info {
    padding: 2rem 0;
}

.partners-item {
    margin: 3rem 0 0;

    h4 {
        margin-bottom: 1.5rem;
    }
}

.thanks {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
