<pr-image-header small="true" title="Контакты" image="/assets/images/contacts.jpg">
</pr-image-header>
<div class="contacts-info container">
    <p><strong>Юридический адрес:</strong> с. Фонтанка, Лиманский район, Одесская область, ул. Центральная, 40, кв. 10</p>

    <p>В случае если Вы нуждаетесь в помощи или имеете возможность и желание оказать помощь лицам с ограниченными физическими возможностями, если у Вас есть пожелания и конструктивные предложения по поводу деятельности нашей общественной организации с целью повышения ее эффективности, <strong>если Вы разделяете наши цели и хотите присоединиться к нам просим без стеснения звонить по номеру</strong> <a href="tel:+380631927989" class="link">+38(063)-192-79-89</a> </p>.

    <p><strong>E-mail:</strong> <a href="mailto:ainv.odessa@gmail.com" class="link">ainv.odessa@gmail.com</a></p>
</div>
