@import '../../../../styles/app';


.article-content {
    padding: 2rem 0;
}

.image-center {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.iframe-video {
    display: flex;
    justify-content: center;
}

.iframe {
    max-width: 100%;
}

.padding {
    padding: 2rem 0;
}

.link {
    white-space: nowrap;
}

b {
    font-weight: 700;
}
