<h3 class="text-center">Официальное обращение о сотрудничестве.</h3>
<div class="article-content">
    <p class="text-center">
        <strong>ГРОМАДСЬКА ОРГАНІЗАЦІЯ </strong>
    </p>
    <p class="text-center">
        <strong>«АСОЦІАЦІЯ ІНІЦІАТИВНИХ ІНВАЛІДІВ»</strong>
    </p>
    <p class="text-center">
        <u>65012, а/я 12,  ЄДРПОУ 40146131</u>
    </p>
    <p>&nbsp;</p>
    <p class="text-center padding">Вих №18 від 29.01.2018</p>
    <p class="text-right">Голові  Лиманської районної державної адміністрації  Одеської області
        Приймаку В.М.</p>
    <p>&nbsp;</p>
    <p class="text-right">Голові Лиманської районної ради
        Тефтулу Г.О.</p>
    <p>&nbsp;</p>
    <p class="text-right">копія: Голові Одеської обласної
        державної адміністрації
        Степанову М.В. </p>
    <p class="p1"><span class="s1">Громадська організація «Асоціація ініціативних інвалідів» отримала відповіді Лиманської районної державної адміністрації Одеської області, з приводу результатів виконання районної цільової Програми соціальної підтримки населення на 2016-2017 роки «Захист та турбота». </span></p>
    <p class="p2"><span class="s1">Згідно цих відповідей, громадській організації стало відомо, що загальна кількість інвалідів у Лиманському районі складає <b>3 572 чоловіка</b>, з яких зокрема на території Доброславської с/р<span class="Apple-converted-space">  </span>проживає – 520 чоловік, на території Олександрівської с/р – 296 чоловік, Трояндіської с/р – 174 чоловіка, Кремидівської с/р – 173 чоловіка, Першотравневої с/р – 240 чоловік, Красносільської с/р – 544 чоловіка, Чорноморської с/р – 211 чоловік, тощо</span></p>
    <p class="p2"><span class="s1">Станом на 01.10.2017 року на обліку в управлінні соціального захисту населення райдержадміністрації знаходиться <b>48 осіб</b> з обмеженими фізичними можливостями.</span></p>
    <p class="p2"><span class="s1">Лиманською районною державною адміністрацією, в межах затвердженої програми, протягом 2016 – 2017 років було передбачено та надано зокрема:</span></p>
    <p class="p2"><span class="s1">- матеріальну допомогу на газифікацію житла інвалідам війни, сім’ям з дітьми інвалідами – <b>8 інвалідам</b> на суму 8 000 гривень, що складає <b>по 1 000 гривень на особу</b>;</span></p>
    <p class="p2"><span class="s1">- матеріальну допомогу на лікування інвалідів загального захворювання, дітей – інвалідів та інвалідів з дитинства, малозабезпеченого населення – <b>742 особам</b> на загальну суму 1 052 100 гривень, із розрахунку <b>по 1 417, 92 гривень на одну людину</b>;</span></p>
    <p class="p2"><span class="s1">- щомісячну адресну матеріальну допомогу інвалідам - <b>49 особам</b> по <b>300 гривень</b>, а учасникам АТО та сім’ям загиблих в кількості <b>12 осіб по<span class="Apple-converted-space">  </span>500 гривень</b>;</span></p>
    <p class="p2"><span class="s1">- матеріальну допомогу інвалідам війни на поточний ремонт житла, водовідводів та інше - <b>5 особам </b>на суму 8 000 гривень, що складає <b>по 1 600 гривень на інваліда</b>;</span></p>
    <p class="p2"><span class="s1">- на оздоровлення було направлено <b>6 дітей - інвалідів</b>;</span></p>
    <p class="p2"><span class="s1">- надано одноразову матеріальну допомогу ветеранам війни інвалідам та малозабезпеченим верствам населення для оперативного лікування очей – <b>43-м громадянам </b>в розмірі <b>по 1 000 гривень;</b> </span></p>
    <p class="p2"><span class="s1">- розпорядженням Лиманської райдержадміністрації від 28.11.2016 року № 496, було надано допомогу з нагоди відзначення Міжнародного дня інваліда у 2016 році та виплачено <b>98 інвалідам у розмірі по 500 гривень кожному.</b></span></p>
    <p class="p2"><span class="s1">Провівши нескладний математичний розрахунок (припустивши, що допомога надавалася незалежно від її виду різним людям) то <b>загальна кількість інвалідів, яким була надана допомога склала 957 осіб із 3 572 наявних інвалідів, що у відсотковому співвідношенні складає 26, 79% і це за 2 роки роботи районної програми «Захист та турбота»!</b></span></p>
    <p class="p2"><span class="s1">Отже, приблизно 73 % інвалідів, що проживають на території Лиманського району Одеської області, які потребують матеріальної допомоги (цільової допомоги на лікування, реабілітацію, придбання медикаментів, медичного обладнання, тощо) нажаль фактично залишились поза уваги місцевої влади. </span></p>
    <p class="p1"><span class="s1"> Головною метою нашої організації є діяльність спрямована на захист прав і свобод, задоволення суспільних, зокрема економічних, соціальних, культурних, екологічних, та інших інтересів інвалідів – громадян України. </span></p>
    <p class="p1"><span class="s1"> З часу заснування громадської організації «Асоціація ініціативних інвалідів», нами надано допомоги особам з обмеженими фізичними можливостями на загальну суму понад 280 тис грн.</span><span class="s2">, налагоджено робочі стосунки з питань захисту прав інвалідів з органами місцевого самоврядування, іншими громадськими організаціями та профільними державними установами. </span></p>
    <p class="p2"><span class="s1">В межах статутних цілей і існуючих фінансових можливостей ми висловлюємо зацікавленість у сприянні реалізації спеціальних районних програм та ініціатив, в тому числі шляхом надання додаткової матеріальної допомоги інвалідам, які проживають на території Лиманського району. </span></p>
    <p class="p2"><span class="s1">У зв’язку із цим, з метою вжиття реальних заходів, <b>вдруге звертаємось до Вас</b> та просимо організувати проведення спільної зустрічі між відповідальними посадовими особами Лиманської районної державної адміністрації і керівництвом громадської організації «Асоціація ініціативних інвалідів» з приводу обговорення окреслених питань. </span></p>
    <p class="p1"><span class="s1"> Про результати розгляду листа, просимо Вас повідомити письмово, а також направити відповідь на електронну адресу організації <a  class="link"  href="mailto:ainv.odessa@gmail.com"><span class="s3">ainv.odessa@gmail.com</span></a>.</span></p>
    <p>З повагою, </p>
    <p>&nbsp;</p>
    <p>Голова правління</p>
    <p>ГО «Асоціація ініціативних інвалідів» Ю.В.Біловол</p>
</div>

