@import '../../styles/app';

footer {
    align-items: center;
    background: $black;
    color: $white;
    display: flex;
    min-height: 5rem;
    padding: 0 $n-padding;
}

.fb-link {
    color: $white;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    margin-left: 2rem;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }
}
