<pr-image-header desc="Вместе мы сможем больше"></pr-image-header>
<pr-accent-block subtitle="Юридический адрес: с. Фонтанка, Лиманский район, Одесская область, ул. Центральная, 40, кв. 10"></pr-accent-block>
<pr-goals-list></pr-goals-list>

<h3 class="text-center">Последние события</h3>
<div class="news" *ngIf="articles; else loader;">
    <article class="news__item" *ngFor="let article of articles">
        <div class="news__image"  [style.background-image]="'url(' + (article?.better_featured_image?.source_url ? article?.better_featured_image?.source_url : '') + ')'">
        </div>
        <div class="news__content">
            <div class="news__title" [innerHTML]="article?.title?.rendered"></div>
            <div class="news__date">{{ article?.date | date: 'dd.MM.yyyy' }}</div>
            <div class="news__text" [innerHTML]="article?.excerpt?.rendered"></div>
        </div>
        <a class="news__link" [routerLink]="['/articles/' + article?.id]"></a>
    </article>
</div>

<ng-template #loader>
    <pr-loader></pr-loader>
</ng-template>

<div class="charity">
    <h3>Благотворительность</h3>
    <pr-charity-list [items]="items"></pr-charity-list>
</div>
