<h3 class="text-center">Обращение к правоохранительным органам.</h3>
<div class="article-content">
    <p>
        <strong>ГРОМАДСЬКА ОРГАНІЗАЦІЯ </strong>
    </p>
    <p>
        <strong>«АСОЦІАЦІЯ ІНІЦІАТИВНИХ ІНВАЛІДІВ»</strong>
    </p>
    <p>
        <u>67571, Одеська область, Лиманський район, с. Фонтанка, вул. Центральна, 40, кв. 10 ЄДРПОУ 40146131</u>
    </p>
    <p>&nbsp;</p>
    <p>№ 24в від 07.10.2017 р.</p>
    <p>Прокурору Одеської області</p>
    <p>&nbsp;</p>
    <p>Начальнику Головного управління Нацполіції в Одеській області</p>
    <p>&nbsp;</p>
    <p>Начальнику управління захисту економіки в Одеській області Департаменту захисту економіки Національної поліції України</p>
    <p>&nbsp;</p>
    <p class="text-center">ЗВЕРНЕННЯ</p>
    <p class="text-center">про скоєння злочину</p>
    <p class="text-center">(відповідно до ст. 214 КПК України)</p>
    <p>У ст. 46 Конституції України закріплене право громадян на соціальний захист. Воно забезпечується загальнообов&#8217;язковим
        державним соціальним страхуванням за рахунок страхових внесків громадян, підприємств, установ і організацій, а також
        бюджетних та інших джерел фінансування. Закріплення в Конституції гарантій соціального захисту відповідає положенням
        міжнародно-правових актів: Загальної декларації прав людини; Міжнародного пакту про економічні, соціальні і культурні
        права; Конвенції про права дитини.</p>
    <p>
        <strong> </strong>Законом України «Про основи соціальної захищеності інвалідів в Україні», інвалідам гарантовано рівні з усіма
        іншими громадянами можливості для участі в економічній, політичній і соціальній сферах життя суспільства, створення необхідних
        умов, які дають можливість інвалідам ефективно реалізувати права та свободи людини і громадянина та вести повноцінний
        спосіб життя згідно з індивідуальними можливостями, здібностями і інтересами, зокрема, шляхом створення і участі у громадських
        організаціях інвалідів та їх спілках.</p>
    <p>За наявними у відкритому доступі даними Держаної служби статистики України протягом 2011 року та 2014 років відзначався стійкий
        ріст кількості інвалідів в Україні (з 2 710 тис. осіб у 2011 до 2 831,7 тис. осіб в 2014 році), в 2015 році кількість
        осіб вказаної категорії зменшився до 2 568,5 тис. осіб. Одеська область за кількістю інвалідів по регіонах посідає 6
        місце, а за кількістю дітей інвалідів – 5 місце.</p>
    <p>Разом з тим, незважаючи на загальне зменшення кількості осіб з обмеженими можливостями в Україні, кількість інвалідів в Одеській
        області починаючи з 2001 року постійно зростає, зокрема, в 2001 році кількість інвалідів в Одеській області становила
        127 739 осіб, а в 2015 році їх кількість зросла до 131 279. Тільки з 2014 по 2015 рік кількість інвалідів на території
        області збільшилась на 1 049 осіб. Однак, центрами соціального обслуговування протягом 2014 року обслуговано в області
        лише 48 452 осіб, тобто 36,9 % від загальної кількості. Кількість працевлаштованих осіб в 2013 році становить 485 в 2014
        році – 464 особи. Протягом 2015 року цільову грошову допомогу отримали лише 29303 інвалідів, що складає 22,3 % від їх
        загальної кількості.</p>
    <p>Відповідно до ст. 12 Закону України «Про основи соціальної захищеності інвалідів в Україні», громадські організації інвалідів,
        їх спілки створюються з метою забезпечення рівних прав і можливостей інвалідів та їх соціального захисту, виявлення,
        усунення перепон і бар&#8217;єрів, що перешкоджають забезпеченню прав і задоволенню потреб таких осіб, у тому числі стосовно
        доступу їх нарівні з іншими громадянами до об&#8217;єктів фізичного оточення, транспорту, інформації та зв&#8217;язку,
        а також з урахуванням індивідуальних можливостей, здібностей та інтересів &#8212; до освіти, праці, культури, фізичної
        культури і спорту, надання соціальних послуг, залучення інвалідів до суспільної діяльності, здійснення громадського контролю
        за дотриманням прав інвалідів, представництва їхніх інтересів та усунення будь-яких проявів дискримінації стосовно інвалідів
        та мають право користуватися пільгами і преференціями, передбаченими законодавством.</p>
    <p>Слід зазначити, що центральні і місцеві органи виконавчої влади та органи місцевого самоврядування, згідно із ст. 13 цього
        Закону, повинні подавати допомогу і сприяти громадським організаціям інвалідів в їх діяльності.</p>
    <p>&nbsp;</p>
    <p>Отже, діяльність громадських організацій інвалідів має важливе значення у практичному вирішені повсякденних проблем та питань
        реабілітації, захисту прав інвалідів.</p>
    <p>Як правило, громадські організації інвалідів мають статус неприбуткових організацій. Водночас чинне законодавство не забороняє
        таким організаціям (їх підприємством) здійснювати господарську діяльність з метою отримання прибутку, який підлягає оподаткуванню.</p>
    <p>&nbsp;</p>
    <p>Як свідчать статистичні дані, кількість інвалідів в Одеській області постійно зростає, а грошову державну допомогу та обслуговування
        в центрах соціальної допомоги отримали лише третина громадян вказаної категорії, що свідчить про необхідність вжиття
        додаткових заходів щодо соціального захисту та працевлаштування інвалідів, реабілітації інвалідів, залучення їх до суспільно
        корисної діяльності, занять фізичною культурою і спортом, як з боку держави так і з боку недержавних громадських об’єднань.</p>
    <p>Саме вказані обставини, а також наше розуміння дійсного положення людей з обмеженими фізичними можливостями, стали причиною
        для створення інвалідами наприкінці 2015 року громадської організації «Асоціація ініціативних інвалідів».</p>
    <p>&nbsp;</p>
    <p>З метою залучення коштів для здійснення ефективної, а не лише декларативної діяльності (як це в більшості випадків відбувається),
        громадською організацією в грудні 2015 року засновано два суб’єкти господарювання, які реалізуючи положення ст. 92 Земельного
        кодексу України, а також знання та наполегливість членів громадської організації, за результатами ретельного опрацювання
        інформації з відкритих джерел, зокрема з Публічної кадастрової карти України, звернулись з клопотаннями до Головного
        управління Держгеокадастру в Одеській області з метою отримання земельних ділянок сільськогосподарського призначення
        державної власності, що перебували в запасі – у постійне користування для товарного сільськогосподарського виробництва.</p>
    <p>За результатами розгляду клопотань, Головним управлінням Держгеокадастру в Одеській області у 2016 році, в постійне користування
        ТОВ «Надія та допомога» було передано 304 га сільськогосподарських земель, зокрема на території Лиманського району Одеської
        області, з яких 62 га земель, захаращених багаторічним невикористанням за цільовим призначенням.</p>
    <p>Інформація щодо кожної ділянки наданої у постійне користування знаходиться в публічному доступі на сайті Публічна кадастрова
        карта України.</p>
    <p>&nbsp;</p>
    <p>
        <strong>Слід зазначити, що до моменту оформлення нами права користування земельними ділянками, кожна з них довгий час використовувалась
            самовільно!</strong> Велика вірогідність того, що бюджети місцевих рад не отримували необхідних обов’язкових платежів,
        а всі зароблені кошти осідали в кишенях нечистих на руку керівників органів місцевого самоврядування, влади та засновників
        сільгосппідприємств!</p>
    <p>
        <strong>Натомість право постійного користування земельною ділянкою не припиняє право державної власності на земельні ділянки
            та разом з тим, наділяє користувача певними обов’язками</strong> (плата за землю, використання за цільовим призначення
        тощо), у разі невиконання яких, право постійного користування припиняється, в порядку передбаченому ст.ст. 141, 143 Земельного
        кодексу України.</p>
    <p>
        <strong>Окрім того, в разі об’єктивної суспільної потреби, ми готові відмовитись від наданого державою права постійного користування,
            безумовно з урахуванням наявних соціальних зобов’язань та не для продовження незаконного збагачення місцевих чиновників.</strong>
    </p>
    <p>&nbsp;</p>
    <p>На наш погляд, рішення про передачу сільськогосподарських земель в постійне користування підприємствам, заснованих громадською
        організацією інвалідів, більш прогресивне, ніж передача цих же земель безоплатно у власність громадянам.</p>
    <p>Вся справа в тому, що в результаті безоплатної приватизації держава (чи орган місцевого самоврядування) втрачає свій стратегічний
        ресурс назавжди, а також втрачає і вплив на осіб, які цей ресурс отримали, оскільки законодавство не містить чіткого
        механізму припинення права власності у разі істотного порушення власником своїх обов’язків, передбачених ст. 91 Земельного
        кодексу України.</p>
    <p>Доречи, такий легкий спосіб безперешкодно отримати земельну ділянку значної площі (наприклад для ведення особистого селянського
        або фермерського господарства) безоплатно у власність, започаткований на зорі української державності, нажаль залишився
        лише в законодавстві нашої держави. Інші держави пострадянського простору зробили величезний крок в цьому напрямку та
        відмовились, а в деяких випадках значно ускладнили безоплатну приватизацію земель сільськогосподарського призначення.</p>
    <p>&nbsp;</p>
    <p>Треба зазначити, що ідеї отримання земельних ділянок в постійне користування виникають у ініціативних громадян з обмеженими
        можливостями не лише в Одеській області, а й по всій державі. Законність такої юридичної конструкції вже навіть підтверджена
        правовими позиціями Вищого адміністративного суду України, викладеними в рішеннях по справам № К/800/358/17, К-23509/07.</p>
    <p>&nbsp;</p>
    <p>В даний час між створеним ГО «Асоціація ініціативних інвалідів» суб’єктом господарювання та місцевими фермерами і сільгоспвиробниками,
        в яких працюють інваліди, укладено угоди про спільний обробіток цих земельних ділянок.</p>
    <p>
        <strong>Всі без виключення кошти, отримані в результаті реалізації вказаних цивільно – правових угод, було спрямовано на сплату
            необхідних податків та на благодійну допомогу інвалідам!</strong>
    </p>
    <p>Наприклад, лише за перші пів року було перераховано 50 000 грн. на лікування 17-річного Любитова М., який хворіє на атаксію
        стато-локомоторну та кінестетичну, мозжечкову дизартрію та потребує післяопераційної реабілітації. Здійснено покупку
        інвалідної коляски інваліду І групи Багріну А. (4 980 грн.), спеціального мобільного смартфону для інвалідів Кирьяку
        Б. (5 700 грн.), закуплено на 97 000 грн. будівельні матеріали для поточного ремонту приміщення комунального закладу
        «Одеська спеціальна загальноосвітня школа-інтернат № 97 І-ІІ ступенів», в якому мешкають діти з вадами слуху, тощо.</p>
    <p>
        <strong>Нашою досить молодою організацією, зроблено публічними звіти про отримання та витрачення коштів, як це практикується
            у всіх розвинених країнах, щоб зацікавлені особи мали змогу безперешкодно за допомогою мережі Інтернет слідкувати
            за цим процесом на сайті &#8212; http://aii.od.ua. </strong>
    </p>
    <p>&nbsp;</p>
    <p>Безумовно, оформлення земельних ділянок в постійне користування з метою отримання коштів від їх спільного використання з
        іншими підприємствами не є кінцевою метою громадського об’єднання, а є лише першим етапом поступової реалізації наших
        намірів.</p>
    <p>До наших планів входить використання отриманих земельних ділянок виключно силами працездатних працівників – інвалідів суб’єктів
        господарювання заснованих асоціацією. У такому разі, окрім адресної допомоги інвалідам за рахунок коштів отриманих від
        спільного обробітку земельної ділянки, ми зможемо забезпечити працевлаштування інвалідів, гідну оплату їх праці, труд
        в умовах зручного соціального середовища, а також допомогу непрацездатним інвалідам за рахунок прибутку підприємства.</p>
    <p>&nbsp;</p>
    <p>
        <strong>Нажаль, не всі розуміють та навіть не намагаються зрозуміти нашу справжню мету.</strong>
    </p>
    <p>Постійні шахрайські схеми та обман, які мають місце в нашій державі з самого початку її незалежності та супроводжують майже
        кожну сферу суспільних відносин, не дають змогу людям адекватно сприймати позитивні та альтруїстичні наміри соціально
        мотивованих осіб, які не байдужі до проблем інших.</p>
    <p>Представники влади взагалі звикли судити дії інших крізь призму своїх неправомірних дій.</p>
    <p>Так, деякі сільські голови відразу після надходження до органів місцевого самоврядування інформації щодо отримання земельних
        ділянок в постійне користування, почали надактивно звертатись до правоохоронних та інших органів, намагатись створювати
        якісь комісії та вчиняти інші дії, які б ускладнили чи навіть унеможливили реалізацію намірів громадської організації.</p>
    <p>З початку ми не розуміли такі дії, з урахуванням їх активності, а потім все стало на свої місця.</p>
    <p>Вся справа в тому, що земельні ділянки запасу державної власності з року на рік самовільно використовуються місцевими фермерами,
        які скоріш за все справно сплачують кошти за такі протиправні дії не до бюджету (чи не лише до бюджету), а своїм захисникам,
        які ці кошти і відпрацьовують (сільським головам та головам місцевих державних адміністрацій).</p>
    <p>Задля попередження можливих аналогічних випадків нерозуміння намірів діяльності громадської організації з боку місцевої влади,
        а також для налагодження партнерської взаємодії в частині захисту інтересів інвалідів, що мешкають на певній території,
        між громадською організацією та декількома органами місцевого самоврядування, на території яких відводяться земельні
        ділянки в постійне користування, вже укладені відповідні меморандуми.</p>
    <p>
        <strong>Треба зазначити, що в більшості випадків ми знаходимо розуміння та підтримку нашої діяльності на рівні місцевих рад,
            проте в деяких випадках, це зовсім неможливо зробити, можливо у зв’язку з тим, що оформлення права постійного користування
            зупиняє незаконне збагачення сільських та селищних голів.</strong>
    </p>
    <p>Справа в тому, що не дивлячись на положення ст. 122 Земельного кодексу України, якою передбачено, що
        <strong>органи місцевого самоврядування не мають жодних повноважень щодо розпорядження землями запасу сільськогосподарського
            призначення, розташованих поза межами населених пунктів</strong>, вони з року в рік умовно передають їх за незаконними
        «тимчасовими» (не більше ніж на 1 рік) договорами місцевим фермерам (в більшості випадків своїм знайомим), які, як нам
        здається сплачують кошти за їх фактичне використання (всі або частину) у кишені таких чиновників.</p>
    <p>З юридичною точки зору –
        <strong>це яскравий випадок правового нігілізму, коли сільськогосподарське підприємство вчиняє самовільне захоплення земель державної
            власності за згодою керівників органів місцевої влади, а територіальні органи правопорядку на це не реагують. </strong>
    </p>
    <p>За нашою інформацією, саме така схема незаконного збагачення існувала на території Шомполівської та Новомоколаївської сільських
        рад Лиманського району Одеської області.</p>
    <p>Цікаво, але і голова Лиманської районної державної адміністрації Приймак В.М. при нашому з ним знайомстві натякнув, що «ми
        повинні були зайти до нього раніше», а також сказав, що його «повністю влаштовують» тимчасові угоди (незаконні), які
        тривалий час укладались між місцевими фермерами та вищевказаними органами місцевого самоврядування.</p>
    <p>&nbsp;</p>
    <p>Більш того, з метою здійснення тиску на нашу громадську організацію, Приймак В.М. розпочав розповсюджувати дезинформацію
        щодо нібито неправомірної діяльності нашої організації, наголошуючи що інваліди – це рейдери.</p>
    <p>Для цього, окрім адміністративного ресурсу він використовує офіційний сайт Лиманської районної державної адміністрації http://lymansk-rda.odessa.gov.ua/komintern-novini/sesya-v-shompolah/
        та залучив журналістів сайту «dumskaya.net», якими 06.10.2017 розміщено у загальному доступі статтю під назвою «В Одесской
        области компании «инвалидов» захватывают огромные массивы сельскохозяйственных земель», зміст якої стосується діяльності
        громадської організації «Асоціація ініціативних інвалідів» та створених нею підприємств.</p>
    <p>Нажаль, при підготовці матеріалу, журналістами інформаційного ресурсу не було вжито жодних заходів, спрямованих на отримання
        пояснень чи альтернативної думки іншої сторони, якою є громадська організація і це не дивлячись на те, що контактні данні
        (номер мобільного телефону та адреса електронної пошти) вільно можливо знайти у мережі інтернет на офіційному сайті організації.</p>
    <p>Замість цього, інформацію подано у явно обвинувачуваному стилі, який викликає у пересічного читача думку про нібито велику
        шахрайську змову чи чергову незаконну схему. Передано пряму мову сільських голів, які видавали своє туманне та абстрактне
        розуміння існуючих у державі земельних правовідносин за толкування певних законодавчих норм.</p>
    <p>Відповідне спростування вже спрямовано до редакції інтернет-ЗМІ з метою його розміщення на сайті.</p>
    <p>&nbsp;</p>
    <p>З урахуванням всіх вищевикладених обставин, керуючись ст. 214 Кримінального – процесуального кодексу України наполегливо
        просимо:</p>
    <p>&nbsp;</p>
    <ul class="list">
        <li>
        <p>
        Внести до Єдиного державного реєстру досудових розслідувань відомості про скоєння головою Лиманської районної державної
            адміністрації Приймаком В.М., сільськими головами Шомполівської та Новомиколаївської сільських рад Стружаном О.А.
            та Морозом В.В. злочину передбаченого ст. 170 КК України (перешкоджання законній діяльності ГО «Асоціація ініціативних
            інвалідів») та скоєння злочину передбаченого ч. 1 ст. 364 КК України (зловживання службовим становищем сільськими
            головами Шомполівської та Новомиколаївської сільських рад Лиманського району Одеської області Стружаном О.А. та Морозом
            В.В. при наданні можливості (прийнятті відповідних неправомірних рішень) суб’єктам господарювання сезонно використовувати
            земельні ділянки запасу сільськогосподарського призначення для ведення товарного сільськогосподарського виробництва,
            з метою отримання неправомірної вигоди;
        </p>
    </li>
        <li>
        <p>Повідомити про результати розгляду цієї заяви &#8212; з метою вирішення питання про подальше залучення представника ГО
            «Асоціація ініціативних інвалідів» в якості представника потерпілої особи та надання останнім документів, що підтверджують
            нанесення матеріальної шкоди громадській організації або ж оскарження в суді рішення слідчого/прокурора у разі відмови
            у внесенні відомостей до ЕРДР.
            </p>

        </li>
        </ul>
    <p>&nbsp;</p>
    <p>Зі свого боку запевняємо, що ГО «Асоціація ініціативних інвалідів» готова, в межах своїх можливостей, сприяти досудовому слідству у кримінальному провадженні, а також будь – якій перевірці діяльності нашого громадського об’єднання, оскільки публічність є одним з принципів ГО «Асоціація ініціативних інвалідів» та створених нею суб’єктів господарювання.</p>
    <p>&nbsp;</p>
    <p>Відповідь про результати розгляду цієї заяви просимо надіслати на адресу електронної пошти &#8212;
    <a  class="link" href="mailto:ainv.odessa@gmail.com">ainv.odessa@gmail.com</a>.</p>
    <p>Контактний телефон &#8212;
    <a class="link" href="tel:+380631927989">063-192-79-89</a>.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Голова правління</p>
    <p>ГО «Асоціація ініціативних інвалідів» Ю.В.Біловол</p>
</div>

