<h3 class="text-center">Женя Ламбов</h3>
<div class="article-content">
  <img src="/assets/images/eugene.jpg" alt="Женя Ламбов с мамой" class="responsive-image popup image-center">
  <p>Есть в Одесской области село Кремидовка - не то что бы забытый богом уголок, но и не центр вселенной. И живет в Кремидовке 26-летний симпатичный парень Женя. Про таких говорят – «светлый». Способность смотреть на мир широко открытыми глазами Женя не утратил даже несмотря на то, что в пятнадцать лет его ждал страшный удар – он стал инвалидом.</p>

  <p>Летом того злополучного года Женя поехал к бабушке и решил в очередной раз залезть под барахливший автомобиль. Женя с детства мечтал стать автослесарем. Машина сорвалась. Сложнейшая травма позвоночника. Череда тяжелых дорогостоящих  операций -  четыре в Одессе и две в Киеве. Инвалидность. Затянувшаяся депрессия.
  Спасла любовь родных и  друзей, которые буквально силой вытягивали на улицу и заставляли жить.  На коляске с велоприводом научился передвигаться даже в соседнее село. Учился принимать себя нового. </p>

  <p>Сел за компьютер. Самостоятельно,  по книгам и онлайн программам изучил компьютерную азбуку. Затем - полугодичные курсы Front-end, изучение программирования.  Появилось новое хобби – в свободное время начал паять электронные приборы. Но раны, возникавшие из-за постоянного нахождения в коляске, причиняли страшную боль, не давали работать. </p>

  <p>Узнав об этом, глава Доброславского сельсовета Людмила Прокопечко передала информацию о юноше в «Ассоциацию инициативных инвалидов», и уже очень скоро организация купила Жене  противопролежневую подушку и жизненно важные медикаменты. Благодаря этому, сегодня Женя может подолгу сидеть за компьютером, и уже сделал свой первый сайт!  Правда,  за работу ему так и не заплатили: пользуясь тем, что парень ограничен в передвижении, заказчики просто пропали. </p>

  <p>Как защитить себя в жестоком мире бизнеса, отстоять свои права,  найти работу и порядочных работодателей Женя пока не знает. И он в этом не один. Поэтому одно из главных направлений работы общественной организации «Ассоциация инициативных инвалидов» -  это защита прав людей с ограниченными возможностями, создание новых рабочих мест и социальная адаптация инвалидов. </p>
  <div class="iframe-video">
      <iframe class="iframe"  width="560" #iframe height="315" src="https://www.youtube.com/embed/4V89QQ4Ek7I" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
</div>